.benefits {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 80px;
  margin-bottom: 60px;
  background-color: #1e1823;
}

.benefits-container {
  padding-left: 34px;
  padding-right: 34px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;  
  row-gap: 44px;
}

.benefits-list-item {
  width: 308px;
}

.benefits-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.benefits-list-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: 18px;
}

.benefits-list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.28px;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  .benefits-list-item {
    width: calc((100% - 88px) / 2);
  }

  .benefits-list {
    column-gap: 88px;
  }
}

@media screen and (min-width: 1168px) {
  .benefits-list-item {
    width: calc((100% - 176px) / 3);
  }
}
